@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(27, 18, 18);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flash {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 1;
    pointer-events: none;
    z-index: 50;
    transition: all 0.4s ease;
}
.game-container {
    width: 80%;
    height: 70%;
    padding: 5%;
    /* border: 2px solid black;
    box-shadow: 0 0 10px white; */
    position: relative;
    z-index: 5;
}
.time {
    font-size: 300px;
    font-family: "Righteous", sans-serif;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    color: rgba(255, 255, 255, 0.2);
}
#score{
    text-align: left;
    top: 0;
    left: 0;
    line-height: 0;
    color: white;
    pointer-events: none;
    font-family: "Limelight", sans-serif;

    
}
.start {
    position: absolute;
    width: 200px;
    padding: 20px;
    font-size: 30px;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    z-index: 20;
}
.target {
    background-color: rgb(255, 255, 240);
    width: 30px;
    aspect-ratio: 1;
    padding: 10px;
    cursor: crosshair;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transform: scale(1);
    filter: drop-shadow(0 0 10px white);
}
.target:active {
    filter: drop-shadow(0 0 10px red);
}
.hide {
    opacity: 0;
    transform: scale(0);
    filter: drop-shadow(0 0 0 white);
}

